<h2>Adaptive Web Assignment 1: Social visualization with behavior logging.</h2>
<br>
<p>
Based on the user behavior logs collected, an interactive social visualization is designed to explore and discover facts and patterns.
<br>

<strong>There are 2 doughnut charts that have been used for Visualization</strong>
<ul style="list-style-type:disc">
<li><strong>All Users chart :</strong> This chart gives the user information about what other people are doing on the website. Its a cumulative view of all the actions performed by all the users that ever logged into the system and interacted with the stack overflow. </li>
<li><strong>Logged in User chart :</strong> This chart helps the user understand the various interaction they had with the website. It provides an aggregated view of all the actions that the user has performed with the multiple sessions he has have had. </li>
</ul>

<strong> The three user behavior logged are:</strong>
<ul style="list-style-type:disc">
<li> <strong>Knowledge depth of the user </strong>based on how many questions were answered by the user and how many he posted. Questions posted and answers given are usually an understanding of the knowledge that a user possess about a Topic. Since the system captures this information it would help the user understand his depth on the topic. At the same time the user can also see how others have done on the topic. </li>
<li>What are the <strong>users predominant actions </strong>when the user is on stack overflow.  - The logged in doughnut chart gives the user an idea about what are his major interactions with stackoverflow. But this information is also logged. As this information is logged, further enhancements like different categories of users can be identified based on whether they only upvote/downvote or they post questions or do they majorly post answers. This would help the user understand the role he plays on stack overflow. </li>
<li>How the <strong>user fares in comparison to the other users.</strong> - Collaborative learning. Since all user information regarding their interaction on stack overflow is logged and is available alongside with the logged user interaction info of the user, a side by side comparison can be done. Through the all user chart that is displayed side by side with the logged in user chart the user can ascertain what are other people doing on the website. Since its already proven that people who do collaborative learning are much more motivated to learn, it can be said that this comparative view can help him perform better.</li>
</ul>
<strong>The analysis and findings are listed below:</strong>
<ul style="list-style-type:disc">
<li>Since we are capturing the questions that the user answers, we can deduce his strengths based on a bag of words model that categorizes the user's strengths. WE can rate his strengths from the strongest to the not so strongest. A similar analysis can be done for his weakness. Based on the questions he submits we can construct a bag of model to predict his weaknesses and provide him personalization in the form of relevant content.</li>


<li>
The purpose of having doughnut charts is to show two dimensions of the same data. In both the doughnut charts, the different colors depict the different actions that are being captured while the area of each section depicts its share in the whole picture. The center section of the doughnut charts also show the percentage and the count of the selected actions. One can further select two or more actions together to see the share. We can deduce on the majority of actions performed by the user based on the percentage we see in the doughnut chart. Then further analysis can be done on how a user spends his/her time on the website which can be used to improve  the content that is presented. 

</li>

<li>With the visualizations, the user will also be able to see what everybody is mostly doing on the website. Since the all users chart presents a comprehensive view of the all the actions performed by all the users, it gives excellent insight into the kind of action that is majorly performed by most users. This can result in very effective visualizations as content can be served based on the pattern observed </li>
</ul>

